body {
    font-size: 18px; /* Or any desired size */
}

.listcard {
    display: block;
    color: inherit;
    -webkit-box-shadow: none !important;
    margin-bottom: 0.5rem;
}

.listcard:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.1) !important;
    transition: -webkit-box-shadow 0.2s;
}


.chapteritem {
  display: flex;
  flex-direction: column;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: inherit;
  background-color: white;
  transition: background 0.2s;
  border: 1px solid transparent;
  -webkit-box-shadow: none !important;
  margin-bottom: 0.5rem;
}

.chapteritem:hover {
  background: rgba(0, 0, 0, 0.05);
}